@import './variables.scss';

#main-header {
  display: grid;
  justify-content: space-between;
  align-items: center;
  background-color: $blue;
  padding: 1em;
  width: 100vw;

  a {
    &.logo {
      grid-column: 1 / 2;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.5em;
      color: $bg;
    }

    &.active {
      color: $black;
    }

    &.button {
      border-radius: 5px;
      border: 1px solid black;
      background: $pink;
      padding: 1% 2%;
    }
  }

  nav {
    grid-column: 2 / 5;

    ul {
      display: flex;
      gap: 2%;
      justify-content: flex-end;
      align-items: center;
      color: $bg;
      list-style: none;
    }
  }
}